	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						<div class="contactinfo">
							<ul class="nav nav-pills" >
							<li><h5 style="color: #FE980F; ">OriOrg Overseas Pvt Ltd</h5></li>
								<li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-phone"></i> 9165000049</a></li>
								<li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@oriorg.com" target="_blank"><i class="fa fa-envelope"></i> info@oriorg.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav flex-row">
								<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="www.google.com"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
	</header><!--/header-->

