<footer id="footer">
	<!--Footer-->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="single-widget">
						<h2>Product List</h2>
						<ul class="nav nav-pills nav-stacked">
							<!--	<li><a routerLink="/garlicPowder"><span class="glyphicon glyphicon-ok"></span>OriOrg Garlic Powder</a></li> -->
							<li><a routerLink="/sunflowerOil"><span class="glyphicon glyphicon-ok"></span>
								Cold Pressed Sunflower Oil</a></li>
							<li><a routerLink="/sesameOil"><span class="glyphicon glyphicon-ok"></span>
								Cold Pressed Sesame Oil</a></li>
							<li><a routerLink="/extraVirginCoconutHairOil"><span class="glyphicon glyphicon-ok"></span>
									Extra Virgin Coconut Oil - 100 ml</a></li>
							<li><a routerLink="/coldPressedCoconutHairOil"><span class="glyphicon glyphicon-ok"></span>
									Cold Pressed Coconut Oil - 100 ml</a></li>
							<!-- <li><a routerLink="/goundnutGarlicChatney"><span class="glyphicon glyphicon-ok"></span>
									OriOrg Groundnut Garlic Chatney</a></li>
							<li><a routerLink="/coconutGarlicChatney"><span class="glyphicon glyphicon-ok"></span>
									OriOrg Coconut Garlic Chatney</a></li> -->
						</ul>

					</div>
				</div>
				<div class="col-sm-3">
					<div class="single-widget">
						<h2>.</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a routerLink="/flaxseedOil"><span class="glyphicon glyphicon-ok"></span>
								Cold Pressed Flaxseed Oil</a></li>
							<li><a routerLink="/coldPressedGroundnutOil"><span class="glyphicon glyphicon-ok"></span>
									Cold Pressed Groundnut Oil</a></li>
							<li><a routerLink="/coldPressedVirginCoconutOil"><span class="glyphicon glyphicon-ok"></span>
									Cold Pressed Virgin Coconut oil</a></li>
							<li><a routerLink="/extraVirginCoconutOil"><span class="glyphicon glyphicon-ok"></span>
									Extra Virgin Coconut oil</a></li>
							<!-- <li><a routerLink="/indoriSev"><span class="glyphicon glyphicon-ok"></span> Indori Sev Mix Gravy </a>
							</li> -->
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/sunflowerOil" src="../../assets/images/portfolio/3.jpg"
								height=50px>
						</div>
					</div>

					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/sesameOil"
								src="../../assets/images/portfolio/cold_pressed_groundnut_oil.jpeg" height=50px>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/extraVirginCoconutHairOil"
								src="../../assets/images/portfolio/cold_pressed_coconut_oil.jpeg" height=50px>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/extraVirginCoconutOil" src="../../assets/images/portfolio/3.jpg"
								height=50px>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/coldPressedCoconutHairOil" src="../../assets/images/portfolio/4.jpg"
								height=50px>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/flaxseedOil" src="../../assets/images/portfolio/13.jpg"
								height=50px>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/coldPressedCoconutHairOil" src="../../assets/images/portfolio/5.jpg"
								height=50px>
						</div>
					</div>

					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/extraVirginCoconutOil" src="../../assets/images/portfolio/6.png"
								height=50px>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/flaxseedOil" src="../../assets/images/portfolio/9.jpg" height=50px>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/sesameOil" src="../../assets/images/portfolio/7.jpg"
								height=50px>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/extraVirginCoconutOil"
								src="../../assets/images/portfolio/cold_pressed_groundnut_oil.jpeg" height=50px>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="video-gallery text-center">
							<img routerLink="/sesameOil"
								src="../../assets/images/portfolio/groundnutGarlicChatney.jpeg" height=50px>
						</div>
					</div>


				</div>
			</div>

		</div>
	</div>

	<div class="footer-widget">
		<div class="container">
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>Service</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a routerLink="/contact">customerservice@oriorg.com</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
			</div>
			<div class="col-sm-3">
				<div class="single-widget">
					<h2>Quick Links</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a [routerLink]="['about']" [fragment]="'section1'">About Us</a></li>
						<li><a [routerLink]="['termandcondition']" [fragment]="'section2'">Privacy Policy</a></li>
						<li><a [routerLink]="['termandcondition']" [fragment]="'section1'">Term and Condition</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-5 pull-right" style="background-image: url('../../assets/images/map.png'); ">
				<h2 class="title text-center"><span>Contact Information</span></h2>
				<div class="">
					<p style="color: #050505;"><b style="color:#fe980f"> OriOrg Overseas Pvt Ltd</b> Office no. 143 ,1st
						floor, Mangal City Mall AB road Indore <b>"No. 1 Clean City In INDIA"</b> (M.P) , Pin: 452001,
						India</p>


				</div>
				<div>

					<p class="title text-center">Mobile: +91 9165 000 049</p>
					<p class="title text-center">Email: <a
							href="https://mail.google.com/mail/?view=cm&fs=1&to=info@oriorg.com"
							target="_blank">info@oriorg.com</a></p>
					<p class="title text-center">WebSite:<a href="www.oriorg.com"> www.oriorg.com</a></p>
				</div>
			</div>



		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<p class="pull-left"><b>Copyright ©</b> 2019 OriOrg Overseas Pvt Ltd . All rights reserved.</p>

			</div>
		</div>
	</div>

</footer>
<!--/Footer-->