
<div id="product-page" class="container" >
    	<div class="bg">
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center"> Extra virgin coconut oil</h2>    			    		
			</div>			 		
		</div>    	
    		<div class="row"  >
			<div class="col-sm-6">
				<img src="../../assets/images/portfolio/6.png" style="  margin-left: auto; margin-right: auto; width: 100%; display: block;" >
			</div>  	
			<div class="product-information col-sm-6"><!--/product-information-->
				<h2> Extra virgin coconut oil</h2>
				<span>
					<span>&#8377;600 / 1ltr</span>
				<button (click)="addToCart('p3')" type="button" class="btn btn-fefault cart" ><i class="fa fa-shopping-cart"></i>Add to cart</button>
				<button (click)="addToCart('p3')" type="button" class="btn btn-fefault cart" routerLink="/cart" ><i class="fa fa-shopping-cart"></i>Buy it</button>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Brand:</b> OriOrg</p>
<span>
					<span>&#8377;300 / half ltr</span>
				<button (click)="addToCart('p12')" type="button" class="btn btn-fefault cart" ><i class="fa fa-shopping-cart"></i>Add to cart</button>
				<button (click)="addToCart('p12')" type="button" class="btn btn-fefault cart" routerLink="/cart" ><i class="fa fa-shopping-cart"></i>Buy it</button>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Brand:</b> OriOrg</p>
<span>
					<span>&#8377;150 /250gm</span>
				<button (click)="addToCart('p13')" type="button" class="btn btn-fefault cart" ><i class="fa fa-shopping-cart"></i>Add to cart</button>
				<button (click)="addToCart('p13')" type="button" class="btn btn-fefault cart" routerLink="/cart" ><i class="fa fa-shopping-cart"></i>Buy it</button>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Brand:</b> OriOrg</p>
							</div><!--/product-information-->	
	    	</div>  

<br>
		<div class="row">    		
	    		<div class="col-sm-12">    			   			
			<h2 class="title text-center">BENEFITS</h2>
			</div>
			<div class="col-sm-1">    			   			
			</div>
			<div class="col-sm-10">  
<h4>Meaning Of “Virgin”</h4>  			   			
					<p>Virgin is the word which is mainly used for 0% adulteration and 100% pure product. Many companies use this word for their purity and natural products.</p>
<p>Basically this word came from Spain just because of Diffentiate a particular product of a company and now spreaded the word for the product's purity, but some time people don't understand the word "virgin" as the company want to portray, they just want to say these products are 100% pure and not using any other product or chemical in it.</p>
<p>So "Virgin" means nothing, it is just to show their product is 100% natural and Pure.</p>
<p>Extra virgin is also similar product like virgin product, for Ex Extra virgin coconut oil is made of very early aged coconuts just of 10-15 days old coconut. it is the purest form of coconut oil made by a Particular type of  low pressure expeller and also called "Mother of all Oil".</p>
<h4>There are different type of Extra Virgin Coconut Oil:-</h4>
<h4>Extra Virgin Coconut Oil</h4>
<p>This Method Dehusked Mature Coconut are first selected. For easy drying the fresh kernel is grated using a electric grater or deshelling brown testa is removed and pulverized in a </p>
<p>Suitable coconut shredder Grated or comminuted coconut meat has to be dried immediately in a suitable dryer such as solar dryer, forced drought tray-type dryer or in a vacuum dryer Temperature not exceeding 700c . Solar drying is the cheapest method for drying, if regular 
long duration of sunlight is available. When hot air dryers are used, drying process can be completed within 3-4 hours but involves high initial investment. For extraction of VCO low pressure oil extraction equipment</p>
<h4>Centrifuge Extracted Coconut Oil</h4>
<p>When a coconut oil is cold pressed, the temperatures during the pressing process never exceed 40 to 45’C. Cold pressing is most often done with virgin and/or organic coconut oil and it produces what is considered to be a high quality coconut oil</p>
<h4>Hot extraction process</h4>
<p>In Hot extraction processes, coconut oil is extract from coconut milk by heating. Due to heating the proteins of coconut milk are denatured and destabilized the milk emulsion. Extracted the VCO by heating coconut milk at 100-120°C for 60 mints until the water was completely evaporated</p>
<h4>Fermentation</h4>
<p>It is the Process in which first we extract the milk of coconut form the coconut meat then we kept this milk in a particular vessel and put it for 24 to 36 hr, then automatically oil float on upper side and milk is extracted in the bottom. Now carefully remove the oil from the vessel.</p>
<p>This is very lengthy, old and terrible process. People should avoid this process. </p>
			</div>	
	    		<div class="col-sm-1">    			   			
			</div>			 		
		</div>   
    	</div>	
</div><!--/#product-page-->

