<div id="about-page" class="container">
<section id="section1">
	<div class="row">
		<h1 class="title text-center"><b>Term & Condition, Privacy Policy, Disclaimers</b> </h1>
		<p>Please read the following terms and conditions very carefully as your use of service are subject to your acceptance of and compliance with the following terms and conditions. By subscribing to or using any of our services you agree that you have read, understood and are bound by the Terms, regardless of how you subscribe to or use the services. If you do not want to be bound by the Terms, you must not subscribe to or use our services.</p>
<p>.</p>
	</div>
</section>
    	<div class="bg">
<section id="section2"> 
	    	<div class="row">
    		
	    		<div class="col-sm-12"> 
  			   			
					<h2 class="title text-center">Privacy Policy</h2>    			    				    				
					<div id="about" class="aboutUs">
						<p>Thank you for visiting our web site. This privacy policy tells you how we use personal information collected at this site. Please read this privacy policy before using the site or submitting any personal information. By using the site, you are accepting the practices described in this privacy policy. These practices may be changed, but any changes will be posted and changes will only apply to activities and information on a going forward, not retroactive basis. You are encouraged to review the privacy policy whenever you visit the site to make sure that you understand how any personal information you provide will be used.</p>
<p>.</p>
					</div>

			</div>	
		 		
		</div>
</section>
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">Personal Information</h2>    			    				    				
					<div id="about" class="aboutUs">
						<p>When you make a purchase on OriOrg Overseas, you are asked to provide the information necessary to fulfill and track your order including your name, address, phone number, and e-mail address. For purposes of billing, you need to provide your credit card number, type, expiration date, and security code to avoid fraudulent use. To ship your order, we also need the name, address and phone number of the intended recipient(s). You can shop with confidence that billing and personal information is only transmitted through secure servers and will never be shared with any other party.</p>
<p>We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: </p>
<p>(1) Permitted or required by law.</p>
<p>(2) Trying to protect against or prevent actual or potential fraud or unauthorized transactions.</p>
<p>(3) Investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes.</p>
<p>.</p>
					</div>
			</div>			 		
		</div>
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">Data Security</h2>    			    				    				
					<div id="about" class="aboutUs">
						<p>Your personally identifiable information is kept secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. Any changes to this policy will be posted.</p>
<p>.</p>
					</div>
			</div>			 		
		</div>
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">Payment</h2>    			    				    				
					<div id="about" class="aboutUs">
						<p>If you choose a direct payment gateway to complete your purchase, then Shopify stores your credit card data. It is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS). Your purchase transaction data is stored only as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is deleted.</p>
<h4>*Non Returnable*</h4>
<p>This item is non-returnable due to consumable nature of the product. However, in the unlikely event of damaged, defective or different item delivered to you, we will provide replacement the product.</p>
<h4>*Exchange Policy*</h4>
<p>At OriOrg we have Exchange option for Unused sealed product. We will exchange the product by collecting Difference of price and delivery charges as applicable.</p>
<p><b>Note:</b> Exchange can be done with same or higher value products.</p>
<p><b>Note:</b> Place of jurisdiction for all disputes arising from this sale shall be Indore.</p>
<p>.</p>
					</div>
			</div>			 		
		</div>
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">Security</h2>    			    				    				
					<div id="about" class="aboutUs">
						<p>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact us at info@OriOrg.com</p>
<p>.</p>
					</div>
			</div>			 		
		</div>
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">Disclaimers</h2>    			    				    				
					<div id="about" class="aboutUs">
						<p>OriOrg Overseas suggests that you consult with your legal adviser before you file any written communications.</p>
<p>Overseas Know that not everyone is a copyright master, and that accidents can happen. However, OriOrg Overseas has zero tolerance for repeat copyright. Therefore, pursuant to a complaint, if OriOrg Overseas determines in its sole discretion that you have wilfully violated the copyrights of others or that you have repeatedly violated the copyrights, OriOrg Overseas will cancel your account and prohibit you from further accessing and using the Platform. By accessing or using the Platform, you automatically acknowledge and agree that OriOrg Overseas has the right to cancel your account.
</p>
<p>.</p>
					</div>
			</div>			 		
		</div>
    	</div>	
</div>
