<div id="about-page" class="container">
    	<div class="bg">
<section id="section1">
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">About Us</h2>    			    				    				
					<div id="about" class="aboutUs">
						<p><b>Warm Welcome to www.OriOrg.com</b></p>
<p>Fssai certified company OriOrg Overseas uses the most traditional and pure process, called Ghani & Marachekku to extract oil from seeds and nuts. The oils you get from us are always in the purest form with all natural ingredients intact in them. In the modern term, the process we use is called “Cold pressed oil extraction process”.</p>
<p>Our main aim is to provide healthy oils to the people of our country without any compromise in the quality. We assure you and challenge you with pride that our quality can be tested anywhere and anytime.</p>
<p>At OriOrg, we are looking for long-term and strong relationship with our customers hence we are putting a step forward by offering Free Triglycerides and Cholesterol checkup on purchase of our every Combo Pack. </p>
<p>This combo pack and free check-up is available for lifetime and it is OriOrg Overseas commitment</p>
 <p>Because <b>👍 Purity is our Priority.</b></p>
					</div>
				</div>			 		
			</div> 
</section>   	
    		<div class="row">  	
	    		<div class="col-sm-8">
	    			
	    		</div>
	    		<div class="col-sm-4">
	    			
    			</div>    			
	    	</div>  
    	</div>	
    </div><!--/#about-page-->
