<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of items">
						<td class="cart_product">
							<a href=""><img src="../../assets/images/portfolio/{{item.product.photo}}" width="50"></a>
						</td>
						<td class="cart_description">
							<h5><a>{{item.product.name}}</a></h5>
							<p>Product Id : {{item.product.id}}</p>
						</td>
						<td class="cart_price">
							<p>&#8377;{{item.product.price}}</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a class="cart_quantity_down" (click)="deleteToCart(item.product.id)"> - </a><input
									class="cart_quantity_input" type="text" name="quantity" value="{{item.quantity}}"
									autocomplete="off" size="2">
								<a class="cart_quantity_up" (click)="addToCart(item.product.id)"> + </a>

							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price">&#8377; {{item.product.price * item.quantity}}</p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" (click)="remove(item.product.id)"><i
									class="fa fa-times"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<!--/#cart_items-->
<section id="do_action">
	<div class="container">
		<div class="heading">
			<h3>Summary</h3>
		</div>
		<div class="row">

			<div class="col-sm-6">
				<div class="total_area">
					<ul>
						<li>Cart Sub Total <span>&#8377; {{subToatal}}</span></li>
						<div *ngIf="res; then thenBlock "></div>
						<ng-template #thenBlock>
							<li>Total Tax <span>&#8377; {{0}}</span></li>
						</ng-template>
						<div *ngIf="ship; then thenBlock1 "></div>
						<ng-template #thenBlock1>
							<li>Shipping Cost <span>&#8377; {{ship}}</span></li>
						</ng-template>
						<li>Total <span>&#8377; {{total}}</span></li>
					</ul>
					<a class="btn btn-default update" routerLink="/product">Continue Shoping</a>
					<div *ngIf="res; then thenBlock2 "></div>
					<ng-template #thenBlock2><a class="btn btn-default check_out" routerLink="/checkout">Check Out</a>
					</ng-template>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="total_area">
					<ul>
						<li>
							<h3>Offer Details</h3>
						</li>
						<li>For delivery out of indore ,please contact on <b>9165000039</b> befor order.</li>
						<li><b>DELIVERY CHARGES : </b> Indore : &#8377;50, Out of Indore : &#8377;100</li>
						<li><b>FREE DELIVERY</b> with purchase of more than &#8377;500.</li>
						
						<div *ngIf="offer; else thenBlock3 ">
							<li>
								<p style="text-align: justify;">Offer Valid .Get <b>FREE</b> Cholesterol and
									Triglycerides check-ups!* .Please contact for more details.</p>
							</li>

						</div>
						<ng-template #thenBlock3>
							<li>
								<p style="text-align: justify;">Offer is not valid! for your cart, Free Cholesterol and
									Triglycerides Test, offer is valid on purchase of our <b>&#8377;5 Ltr</b> edible oil
									pack only.</p>
							</li>
						</ng-template>

					</ul>
				</div>
			</div>
		</div>

	</div>
</section>
<!--/#do_action-->