<div id="info-page" class="container">
    	<div class="bg">
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">Blogs</h2>    			    				    				
					<div id="informaTion" class="info" >
<img src="../../assets/images/6.jpg" style="  margin-left: auto; margin-right: auto; width: 50%; display: block;" >
					</div>
				</div>			 		
			</div>  	
    		<div class="row">  	
	    		<div class="col-sm-1">
	    			
	    		</div>
	    		<div class="col-sm-10">
<p>Increasing rates of obesity, its associated diseases and awareness of how oil is extracted are few reasons why cold pressed oils are again finding place in our kitchen pantries.</p>

<p>With our markets offering a plethora of options in cooking oils (like gingelly, rice bran, canola, olive oil and so on), it is important to make informed choices. A surefire way to do this right, would be to go the local, non-blended and chemical free route. And if this seems liked a lot of work- ask your grandmother! What they have been traditionally consuming before all the modernisation is the ideal choice. </p>

<p>Extraction by industrial methods, involves various processes like bleaching, steaming, distillation and hydrogenation - the seeds are exposed to extremely high temperatures to get clear bland oil and chemicals like phosphoric acid, calcium hypo chlorite are added to increase the shelf life of the product which in turn affects not only the flavor and aroma but also strips the oil of all its nutritive values. The more refined an oil is the less nourishing it will be for our bodies. </p>

<p>Before said refined oils we were traditionally using cold pressed oils- in our local terms, “Chekku ennai/Ghani tel”. No heat or minimal heat was used for crushing/pressing the seeds and the process of production was simple without the addition of any solvent. The end product, thereby was qualitative with nutrients intact - making it ideal for cooking </p>

<h4>Benefits Of Organic Cold-pressed Oil</h4>
<ul style="list-style-type: disc;">
	<li>&#9999; Unprocessed - No added preservatives and chemicals </li>
	<li>&#9999; Absolutely free of pesticides (which are arguably carcinogenic) </li>
	<li>&#9999; High in Vitamin E and micro nutrients that are vital for our holistic well-being. </li>
	<li>&#9999; Completely free from Trans-fat.</li>
	<li>&#9999; Retains antioxidants. </li>
	<li>&#9999; As it is manually filtered, it is more viscous and retains the flavour fully. This helps in lesser consumption (atleast by 20%) of oil as compared to the industrially processed refined oil. </li>
</ul>
<h4>Some quick facts!</h4>

<p>The smoke point of cold pressed groundnut oil is around 160 degree Celsius. The smoke point of refined industrially made groundnut oil is around 210 degree Celsius. The smoke point of cold pressed coconut oil is around 180 deg C. The smoke point of refined industrially made coconut oil is around 210 degree Celsius. There is a myth that deep frying of food in cold pressed manually filtered oil is not good. But given the fact that most of the deep frying in Indian cooking ranges between 120 – 150 degree Celsius, the cold pressed oils are safe for deep frying. </p>

<p>Cold pressed oils typically have a shelf-life of six months if kept in proper storage conditions. (dry place and away from direct sunlight). It is advisable to stock for monthly need of oil. </p>

<p>To get the complete benefits of cold pressed oil, look for the label – ORGANIC; and always check the ingredients (the lesser the better) </p>

<p>Every oil has its own nutrient profile - as different varieties offer different benefits and possess key role to play in terms of health. The best way to derive the benefits is to use combination of oils depending on the foods that is consumed </p>

<p><b>Sesame oil - </b>contains sesamol, which helps in absorption of vitamin E. Sesamol is also an effective antioxidant and anti-fungal. Sesame oil is rich in Vitamin B 12, Vitamin B 6, has strong taste and is used in small amounts, best suited for daily cooking- goes ideal with idli podi.</p>

<p><b>Coconut oil - </b>Cold pressed coconut oil retains cocositol, (a naturally occurring plant alcohol found in abundant quantities in coconut) to a significantly greater extent when compared to the industrial method. Cocositol blocks the development of amyloid-beta plaques in the brain. (The formation of these a-beta plaques is one of the key causes of memory deficiency and Alzheimer’s disease). Cocositol is helpful in generation of new neuron cells as well. Hence it is quite beneficial for people with neurological diseases like Parkinson’s and Alzheimer’s. </p>

<h4>Ideal for seasoning gravies and chutneys</h4>
<p><b>Groundnut oil - </b	>Groundnut oil - from sun dried ground nuts, good source of plant sterols - helps in reducing heart disease rich in antioxidants thereby protects against cancer. Cold pressed groundnut oil is rich in MUFA. It is free of trans fat. </p>

<p>An ancient proverb says that too much of anything is bad and is very much applicable when it comes to oil consumption - though loaded with vital nutrients it is advised to be used in moderation as every ml of oil provides 9 calories; Do not go overboard when cooking with oil as it can lead to weight gain and hence it is always wise to enjoy food with caution </p>
    			</div>
	    		<div class="col-sm-1">
	    			
	    		</div>			
	    	</div>  
    	</div>	
    </div><!--/#about-page-->
