
<div id="product-page" class="container" >
    	<div class="bg">
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">Charcoal briquettes</h2>    			    		
			</div>			 		
		</div>    	
    		<div class="row"  >  	
			<div class="col-sm-4">
				<img src="../../assets/images/portfolio/cold_pressed_groundnut_oil.jpeg" style="  margin-left: auto; margin-right: auto; width: 100%; display: block;" >
			</div>
			<div class="product-information col-sm-4"><!--/product-information-->
				<h2>Charcoal briquettes</h2>
				<span>
					<span>&#8377;250 / 1 kg</span>
				<button (click)="addToCart('p7')" type="button" class="btn btn-fefault cart" ><i class="fa fa-shopping-cart"></i>Add to cart</button>
				<button (click)="addToCart('p7')" type="button" class="btn btn-fefault cart" routerLink="/cart" ><i class="fa fa-shopping-cart"></i>Buy it</button>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Brand:</b> OriOrg</p>
							</div><!--/product-information-->	
	    	</div>  
<br><br>
		<div class="row">    		
	    		<div class="col-sm-12">    			   			
			<h2 class="title text-center">BENEFITS</h2>
			</div>
			<div class="col-sm-1">    			   			
			</div>
			<div class="col-sm-10">    			   			
					<p>It's healthy for heart.</p>
			</div>	
	    		<div class="col-sm-1">    			   			
			</div>			 		
		</div>   
    	</div>	
</div><!--/#product-page-->

