
<div id="product-page" class="container" >
    	<div class="bg">
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">OriOrg Groundnut Garlic Chatney</h2>    			    		
			</div>			 		
		</div>    	
    		<div class="row"  >  	
			<div class="col-sm-6">
				<img src="../../assets/images/portfolio/groundnutGarlicChatney.jpeg" style="  margin-left: auto; margin-right: auto; width: 100%; display: block;" >
			</div>
			<div class="product-information col-sm-6"><!--/product-information-->
				<h2>OriOrg Groundnut Garlic Chatney</h2>
				<span>
					<span>&#8377;40 / 100 gm</span>
				<button (click)="addToCart('p9')" type="button" class="btn btn-fefault cart" ><i class="fa fa-shopping-cart"></i>Add to cart</button>
				<button (click)="addToCart('p9')" type="button" class="btn btn-fefault cart" routerLink="/cart" ><i class="fa fa-shopping-cart"></i>Buy it</button>
								</span>
								<p> <del> &#8377;120 / 200gm</del> </p>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Brand:</b> OriOrg</p>
							</div><!--/product-information-->	
	    	</div>  

<br>
		<div class="row">    		
	    		<div class="col-sm-12">    			   			
			<h2 class="title text-center">BENEFITS</h2>
			</div>
			<div class="col-sm-1">    			   			
			</div>
			<div class="col-sm-10">    			   			
					<p>Coconut Garlic chutney is very effective to enhance the taste of your food. It is made organic cold pressed oil. We use black pepper instead of Red chilli due to some nutritional changes.</p>
			</div>	
	    		<div class="col-sm-1">    			   			
			</div>			 		
		</div>   
    	</div>	
</div><!--/#product-page-->

