<div id="product-page" class="container">
	<div class="bg">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="title text-center">Our Products</h2>
			</div>
		</div>
		<div class="row">
			<!-- <div class="features_items"> -->
			<!--features_items-->
			<!-- <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../assets/images/portfolio/9.jpg" alt="" />
<h2>&#8377;250 / 1kg</h2>
										<a routerLink="/coconutGola"><h2>OriOrg Coconut Gola</h2></a>
										
									</div>
									<div  class="product-overlay">
										<div class="overlay-content">
										<h2>&#8377;250 / 1kg</h2>
											<a routerLink="/coconutGola"><p>OriOrg Coconut Gola</p></a>
<a class="btn btn-default add-to-cart" (click)="addToCart('p6')"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											
										</div>
									</div>
								</div>
								
							</div>
						</div> -->

			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="../../assets/images/portfolio/cold_pressed_groundnut_oil.jpeg" alt="" />
							<p> <del> &#8377;350 / 1ltr</del> </p>
							<h2>&#8377;260 / 1ltr</h2>
							<a routerLink="/coldPressedGroundnutOil">
								<h2>Cold Pressed Groundnut Oil</h2>
							</a>
						</div>
						<div class="product-overlay">
							<div class="overlay-content">
								<p style="font-size:15px;"> <del> &#8377;350 / 1ltr</del> </p>
								<h2>&#8377;260 / 1ltr</h2>
								<a routerLink="/coldPressedGroundnutOil">
									<p>Cold Pressed Groundnut Oil</p>
								</a>
								<a class="btn btn-default add-to-cart" (click)="addToCart('p1')"><i
										class="fa fa-shopping-cart"></i>Add to cart</a>

							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="../../assets/images/portfolio/cold_pressed_coconut_oil.jpeg" alt="" />
							<p> <del> &#8377;450 / 1ltr</del> </p>
							<h2>&#8377;350 / 1ltr</h2>
							<a routerLink="/coldPressedVirginCoconutOil">
								<h2>Cold Pressed Virgin Coconut oil</h2>
							</a>

						</div>
						<div class="product-overlay">
							<div class="overlay-content">
								<p style="font-size:15px;"> <del> &#8377;450 / 1ltr</del> </p>
								<h2>&#8377;350 / 1ltr</h2>
								<a routerLink="/coldPressedVirginCoconutOil">
									<p>Cold Pressed Virgin Coconut oil</p>
								</a>
								<a class="btn btn-default add-to-cart" (click)="addToCart('p2')"><i
										class="fa fa-shopping-cart"></i>Add to cart</a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="../../assets/images/portfolio/6.png" alt="" />
							<h2>&#8377;600 / 1ltr</h2>
							<a routerLink="/extraVirginCoconutOil">
								<h2>Extra virgin coconut oil </h2>
							</a>

						</div>
						<div class="product-overlay">
							<div class="overlay-content">
								<h2>&#8377;600 / 1ltr</h2>
								<a routerLink="/extraVirginCoconutOil">
									<p>Extra virgin coconut oil</p>
								</a>
								<a class="btn btn-default add-to-cart" (click)="addToCart('p3')"><i
										class="fa fa-shopping-cart"></i>Add to cart</a>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="../../assets/images/portfolio/extra_virgin_coconut_hair_oil.jpeg" alt="" />
							<h2>&#8377;100 / 100ml</h2>
							<a routerLink="/extraVirginCoconutHairOil">
								<h2>Extra Virgin Coconut Oil - 100 ml</h2>
							</a>

						</div>
						<div class="product-overlay">
							<div class="overlay-content">
								<h2>&#8377;100 / 100ml</h2>
								<a routerLink="/extraVirginCoconutHairOil">
									<p>Extra Virgin Coconut Oil - 100 ml</p>
								</a>
								<a class="btn btn-default add-to-cart" (click)="addToCart('p17')"><i
										class="fa fa-shopping-cart"></i>Add to cart</a>

							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="../../assets/images/portfolio/cold_pressed_coconut_hair_oil.jpeg" alt="" />
							<h2>&#8377;50 / 100ml</h2>
							<a routerLink="/coldPressedCoconutHairOil">
								<h2>Cold Pressed Coconut Oil - 100 ml</h2>
							</a>

						</div>
						<div class="product-overlay">
							<div class="overlay-content">
								<h2>&#8377;50 / 100ml</h2>
								<a routerLink="/coldPressedCoconutHairOil">
									<p>Cold Pressed Coconut Oil - 100 ml</p>
								</a>
								<a class="btn btn-default add-to-cart" (click)="addToCart('p16')"><i
										class="fa fa-shopping-cart"></i>Add to cart</a>

							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="../../assets/images/portfolio/groundnutGarlicChatney.jpeg" alt="" />
							<p> <del> &#8377;120 / 200gm</del> </p>
							<h2>&#8377;40 / 100gm</h2>
							<a routerLink="/goundnutGarlicChatney">
								<h2>OriOrg Groundnut Garlic Chatney</h2>
							</a>
						</div>
						<div class="product-overlay">
							<div class="overlay-content">
								<p style="font-size:15px;"> <del> &#8377;120 / 200gm</del> </p>
								<h2>&#8377;40 / 100gm</h2>
								<a routerLink="/goundnutGarlicChatney">
									<p>OriOrg Groundnut Garlic Chatney</p>
								</a>
								<a class="btn btn-default add-to-cart" (click)="addToCart('p9')"><i
										class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="../../assets/images/portfolio/coconutGarlicChatney.jpeg" alt="" />
							<h2>&#8377;40 / 100gm</h2>
							<a routerLink="/coconutGarlicChatney">
								<h2>OriOrg Coconut Garlic Chatney</h2>
							</a>

						</div>
						<div class="product-overlay">
							<div class="overlay-content">
								<h2>&#8377;40 / 100gm</h2>
								<a routerLink="/coconutGarlicChatney">
									<p>OriOrg Coconut Garlic Chatney</p>
								</a>
								<a class="btn btn-default add-to-cart" (click)="addToCart('p14')"><i
										class="fa fa-shopping-cart"></i>Add to cart</a>

							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- <div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="../../assets/images/portfolio/indoreSev.jpeg" alt="" />
							<h2>&#8377;40 / 100gm</h2>
							<a routerLink="/indoriSev">
								<h2>Indori Sev Mix Gravy</h2>
							</a>

						</div>
						<div class="product-overlay">
							<div class="overlay-content">
								<h2>&#8377;40 / 100gm</h2>
								<a routerLink="/indoriSev">
									<p>Indori Sev Mix Gravy</p>
								</a>
								<a class="btn btn-default add-to-cart" (click)="addToCart('p18')"><i
										class="fa fa-shopping-cart"></i>Add to cart</a>

							</div>
						</div>
					</div>

				</div>
			</div> -->
			<!-- <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../assets/images/portfolio/6.jpg" alt="" />
<h2>&#8377;250 / 1kg</h2>
										<a routerLink="/coconutBura"><h2>OriOrg Coconut Bura </h2></a>
										
									</div>
									<div  class="product-overlay">
										<div class="overlay-content">
										<h2>&#8377;250 / 1kg</h2>
											<a routerLink="/coconutBura"><p>OriOrg Coconut Bura </p></a>
<a class="btn btn-default add-to-cart" (click)="addToCart('p4')"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											
										</div>
									</div>
								</div>
								
							</div>
						</div> -->
			<!-- <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../assets/images/portfolio/4.jpg" alt="" />
<h2>&#8377;90 / 100gm</h2>
										<a routerLink="/garlicPowder"><h2>OriOrg Garlic Powder</h2></a>
										
									</div>
									<div  class="product-overlay">
										<div class="overlay-content">
<h2>&#8377;90 / 100gm</h2>
											<a routerLink="/garlicPowder"><p>OriOrg Garlic Powder</p></a>
<a class="btn btn-default add-to-cart" (click)="addToCart('p5')"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											
										</div>
									</div>
								</div>
							</div>
						</div>
-->

			<!-- </div> -->
			<!--features_items-->
		</div>
	</div>
</div>
<!--/#product-page-->