<div id="product-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Cold Pressed Coconut Oil - 100 ml</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="../../assets/images/portfolio/cold_pressed_coconut_hair_oil.jpeg"
                    style="  margin-left: auto; margin-right: auto;  width: 100%; display: block;">
            </div>
            <div class="product-information col-sm-6">
                <!--/product-information-->
                <h2>Cold Pressed Coconut Oil - 100 ml</h2>
                <span>
                    <span>&#8377;50 / 100ml</span>
                    <button (click)="addToCart('p16')" type="button" class="btn btn-fefault cart"><i
                            class="fa fa-shopping-cart"></i>Add to cart</button>
                    <button (click)="addToCart('p16')" type="button" class="btn btn-fefault cart" routerLink="/cart"><i
                            class="fa fa-shopping-cart"></i>Buy it</button>
                </span>
                <p><b>Availability:</b> In Stock</p>
                <p><b>Brand:</b> OriOrg</p>
                <!-- <span> <span>&#8377;170 / half ltr</span>
					<button (click)="addToCart('p10')" type="button" class="btn btn-fefault cart"><i
							class="fa fa-shopping-cart"></i>Add to cart</button>
					<button (click)="addToCart('p10')" type="button" class="btn btn-fefault cart" routerLink="/cart"><i
							class="fa fa-shopping-cart"></i>Buy it</button>
				</span>
				<p><b>Availability:</b> In Stock</p>
				<p><b>Brand:</b> OriOrg</p> -->
            </div>
            <!--/product-information-->

        </div>

        <br>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">BENEFITS</h2>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">

            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
</div>
<!--/#product-page-->