<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
						<!-- <li data-target="#slider-carousel" data-slide-to="3"></li> -->
						<!-- <li data-target="#slider-carousel" data-slide-to="4"></li>
						<li data-target="#slider-carousel" data-slide-to="5"></li> -->
					</ol>

					<div class="carousel-inner">

						<!-- <div class="item active" style="padding-left:0px;">
							<div style="height:600px;">
								<img src="../../assets/images/portfolio/14.jpeg" class="girl img-responsive"
									alt="Offer Logo" routerLink="/product" />

							</div>
						</div>
						<div class="item" style="padding-left:0px;">
							<div style="height:600px;padding-top: 10px;">
								<img src="../../assets/images/portfolio/product_offer_2.jpeg" class="girl img-responsive"
									alt="Offer Logo" routerLink="/product" />

							</div>
						</div> -->
						<div class="item active">
							<div class="col-sm-6" style="height: 600px">
								<h1><span>Cold Pressed</span> Groundnut Oil</h1>
								<h2>100% Natural products</h2>
								<p>Cold Pressed Groundnut Oil adds a very unique flavour to any food. Peanut oil
									contains many essential fatty acids and is completely free of cholesterol. Groundnut
									oil contains resveratrol which protects the cells against cancer, nervous system
									diseases, alzheimer's etc </p>
								<button (click)="addToCart('p1')" type="button" class="btn btn-default get"
									routerLink="/cart"><i class="fa fa-shopping-cart"></i> Buy it </button>
							</div>
							<div class="col-sm-6" id="slider_images">
								<img src="../../assets/images/portfolio/1.jpg" class="girl img-responsive" alt="" />
							</div>
						</div>
						<div class="item">
							<div class="col-sm-6" style="height: 600px">
								<h1><span>Cold Pressed</span> Virgin Coconut oil</h1>
								<h2>100% Natural products</h2>
								<p>Cold pressed oil helps in preserving nutritive value within it, thus increasing the
									Storage quality for a longer term. New age refined oil will be heated to 230°C that
									will result in loss of most of its nutritional values and destroying Omega-6 Fatty
									acids.</p>
								<button (click)="addToCart('p2')" type="button" class="btn btn-default get"
									routerLink="/cart"><i class="fa fa-shopping-cart"></i> Buy it</button>
							</div>
							<div class="col-sm-6" id="slider_images">
								<img src="../../assets/images/portfolio/2.jpg" class="girl img-responsive" alt="" />
							</div>
						</div>
						<!-- <div class="item">
							<div class="col-sm-6" style="height: 600px">
								<h1><span>OriOrg</span> Coconut Bura </h1>
								<h2>100% Natural products</h2>
								<p>Our Coconut Powder is Organic and Sulphur free powder. And made by a mature coconut
									which is good in quality and test. We are not doing any adulteration in our products
									or process. It is very pure and natural.</p>
								<button (click)="addToCart('p4')" type="button" class="btn btn-default get"
									routerLink="/cart"><i class="fa fa-shopping-cart"></i> Buy it</button>
							</div>
							<div class="col-sm-6" id="slider_images">
								<img src="../../assets/images/portfolio/6.jpg" class="girl img-responsive" alt="" />
							</div>
						</div> -->
						<div class="item">
							<div class="col-sm-6" style="height: 600px">
								<h1><span>Extra Virgin </span>Coconut oil</h1>
								<h2>100% Natural products</h2>
								<p>So "Virgin" means nothing, it is just to show their product is 100% natural and Pure.
									Extra virgin coconut oil is made of very early aged coconuts just of 10-15 days old
									coconut. it is the purest form of coconut oil made by a Particular type of low
									pressure expeller and also called "Mother of all Oil".</p>
								<button (click)="addToCart('p3')" type="button" class="btn btn-default get"
									routerLink="/cart"><i class="fa fa-shopping-cart"></i> Buy it</button>
							</div>
							<div class="col-sm-6" id="slider_images">
								<img src="../../assets/images/portfolio/6.png" class="girl img-responsive" alt="" />
							</div>
						</div>
						<!-- <div class="item">
							<div class="col-sm-6" style="height: 600px">
								<h1><span>OriOrg Coconut</span> Garlic Chatney</h1>
								<h2>100% Natural products</h2>
								<p>Coconut Garlic chutney is very effective to enhance the test of your food. It is made
									organic cold pressed oil. We use black pepper instead of Red chilli due to some
									nutritional changes.</p>
								<button (click)="addToCart('p14')" type="button" class="btn btn-default get"
									routerLink="/cart"><i class="fa fa-shopping-cart"></i> Buy it</button>
							</div>
							<div class="col-sm-6" id="slider_images">
								<img src="../../assets/images/portfolio/12.jpg" class="girl img-responsive" alt="" />
							</div>
						</div> -->

					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section>
<!--/slider-->




<div id="home-page" class="container">
	<div class="bg">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="title text-center">Wellcome to <strong>OriOrg Overseas</strong></h2>
			</div>
		</div>
		<div class="col-sm-12 ">
			<h4 class="title text-center" style="font-weight:bold;">"Purity Is Our Priority"</h4>

			<p>Currently we all are facing a lots of issues just because of adulteration in our daily routine foods.</p>

			<p>We all know what we are consuming today is not 100% pure but we bounded to consume them because we didn't
				have any other options.</p>
			<p>Now the new era has already started in which we don't need to eat adulterated food half hearted in
				absence of better choice. we have natural , pure and organic products in our market so we can eat clean,
				natural, pure and organic food. </p>
			<p>OriOrg ( Original organic )
				is the company which provides you only natural, pure and organic products.
				Which is very helpful to live healthy and maintain our body properly. Organic and Natural products
				provide us Countless benefits in our daily routine life. </p>
			<p>A Lots of diseases can be controlled like cholesterol, diabetes, and various heart disease. </p>

			<p>It contains various essential fatty acids, vitamins, Good fats, zero chemical, zero paraffins.
			</p>
			<!-- <span matBadge="4" matBadgeOverlap="false">Text</span> -->
			<br><br><br>
		</div>
	</div>
</div>
<!--/#home-page-->